* {
    padding: 0; margin: 0; 

}

.btn-group {
    margin: 2px;
    
    
}

.container h1{
    margin: 2px; padding: 2px;
    
}

.container {
    font-family: 'Bebas Neue', cursive;
}

/* Configurações acima são do header */